<div class="ro">
    <div class="hoa">
        <div class="colu">
            <nav class="nav flex-column">
                <a class="navbar-brand" href="#">
                    <img src="https://polo.exdomain.net/image/catalog/logo/Asset-3polologo.png" width="150" height="40"
                        class="d-inline-block align-top" alt="">
                </a>
                <br>
                <li class="nav-link">A12, Đinh Tiên Hoàng, Q. Hoàn Kiếm, Hà Nội</li>
                <li class="nav-link">Điện thoại: 0123 456 789</li>
                <li class="nav-link">Website: httlis://veles.exdomain.net/</li>
                <li class="nav-link">Email: contact@yourdomain.com</li>
            </nav>
            <ul class="b1">
                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            </ul>
        </div>
        <div class="colu">
                        <h5 class="nav-link">Information</h5>
                        <a href="#" class="nav-link infoo">About us</a>
                        <a href="#" class="nav-link infoo">Policy</a>
                        <a href="#" class="nav-link infoo">Contact</a>        
        </div>
        <div class="colu">
            <div class="nd">
                <h5>Registration</h5>
                <p>Sign up for email to quickly receive notifications about our promotions, deals</p>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>