<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card bg-dark text-white">
                <img src="https://veles.exdomain.net/image/cache/catalog/tin-tuc/2-1-400x300.jpg" height="350px"
                    class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Customer reviews</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card bg-dark text-white">
                <img src="https://veles.exdomain.net/image/cache/catalog/tin-tuc/2-1-400x300.jpg" height="350px"
                    class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Customer reviews</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
        </div>
    </div>
</div>