<!-- 
<div class="card" >
    <img src="https://dummyimage.com/300x200/000/fff" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">price: {{product.desc}}</p>
      <p>price: {{product.price}}</p>
      <a (click)="clickGo($event)" class="btn btn-primary">Go somewhere</a>
      <br>
      <input type="text" (keyup)="clickGo($event)">
      <br>
      <input type="text" [(ngModel)]="product.name">
    </div>
  </div> -->
<div class="card">
  <img src="https://veles.exdomain.net/image/cache/catalog/one_banner_1_image-270x340.jpg" height="200"
    class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>